
@{
}
   Please confirm you want to delete this member.
   </p>
<form asp-action="delete" method="post" class="d-flex gap-2">
    <button class="btn btn-danger" type="submit">
        Delete
    </button>
    <a class="btn btn-outline-primary" asp-action="index">
        Cancel
    </a>
</form>
</>